# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db
